html, body.stargtfs {
    height: 100%;
    background-color: #ddd;
}
.content {
    background-color: #fff;
    height: 100%;
    min-height: 860px;
}
#lineactions {
    height: 30px;
    margin-top: 10px;
}
#lineactions select {
    margin-top: 3px;
}
#map {
    height: 800px;
}
#footer {
    height: 20px;
    font-size: 10px;
    padding-top: 5px;
}
#footer a.datasource{
    color: #7777CC;
    float: right;
}
#footer a.contact{
    color: #469A45;
    float: left;
}

.time_display {
    max-width: 400px;
}
.time_display ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.time_display h2 {
    margin: 5px;
}
.time_display h3 {
    clear: both;
    margin: 4px;
}
.time_display ul li {
    padding: 0 10px;
    float: left;
    border-right: 1px solid #ddd;
}
.time_display ul li:last-child {
    border-right: none;
}
a.dir_schedule {
    float: right;
    margin: 5px 0;
}
.schedule_container {
    min-width: 480px;
}
.schedule_container div.dir_select {
    position: absolute;
    right: 5px;
}
.schedule_container .headsign h2 {
    margin: 10px;
}
.clear {
    clear: both;
}
table.schedule {
    border-collapse:collapse;
    margin: 5px auto;
}
table.schedule th, table.schedule td {
    vertical-align: top;
    text-align: right;
    width: 100px;
    border-top: 1px solid #ddd;
    padding: 4px 10px 0 0;
    font-size: 12px;
    line-height: 1.1;
}

div.headsign {
    display: none;
    background-color: white;
}

#colorbox {
    background-color: #fff;
    border: 1px solid #ddd;
}
#cboxContent {
    border-top: 1px solid #999999
}
#cboxTitle {
    width: 100%;
    text-align: center;
}
#cboxContent #cboxClose {
    top: -27px;
}