html, html body {
    height: 100%;
    background-color: #ddd;
}
p {
    margin: 5px 0;
}
.content .handheld_hint {
    display: none;
}
.content {
    background-color: #fff;
    min-height: 860px;
}
.content h1 {
    width: 100%;
    background-color: #ddd;
    padding: 20px 0;
    font-size: 18px;
}
#line_data {
    display: none;
}
#lines {
    visibility: hidden;
    border: 0;
}
#lines #handheld_startmap {
    display: none;
}
#lines .ui-tabs-nav li a {
    padding: 0.2em 0.5em 0;
}
#lines .list ul {
    list-style: none;
}
#lines .list {
    padding: 0.2em 1em 0;
}
#lines .list ul li span {
    position: absolute;
    left: -10000px;
    top: auto;
}
#lines .list ul li {
    float: left;
    display: inline-block;
    width: 29px;
    height: 25px;
    line-height: 20px;
    font-size: 11px;
    text-align: center;
    padding-top: 4px;
    margin-right: 3px;
}
#lines .list ul li.selected {
    border: 1px solid #500;
    padding-top: 3px;
    width: 27px;
}
#lines .list ul li img {
    width: 21px;
    height: 21px;
}
#lines .list ul li.as_text {
    width: auto;
    margin-right: 10px;
    font-size: 13px;
}
#lines #help {
    padding: 1em 0;
}
#lines dl {
    margin-top: 10px;
}
#lines dl dt {
    float: left;
    clear: left;
    width: 25px;
    height: 35px;
    text-align: center;
    margin-top: 10px;
}
#lines dl dd {
    height: 35px;
    margin-left: 45px;
    padding-top: 3px;
    margin-top: 5px;
}
.loader_container, .icons {
    padding-top: 15px;
}
#ajax-loader {
    position: absolute;
    top: 10px;
    right: 10px;
}q
.icons img {
    display: none;
}
#stopactions {
    text-align: right;
    margin-top: 15px;
}
#map {
    height: 800px;
}
#footer {
    height: 20px;
    font-size: 10px;
    padding-top: 5px;
}
#footer a.datasource{
    color: #7777CC;
    float: right;
    margin-left: 10px;
}
#footer a.poweredby{
    color: #7777CC;
    float: right;
    display: none;
}
#footer a.contact{
    color: #469A45;
    float: left;
}
.bike_display p, .bike_display table { 
    margin-top: 10px;
}
.bike_display table {
    width: 100%;
}
.bike_display table td {
    text-align: center;
    width: 50%;
    padding-top: 10px;
}
.time_display {
    max-width: 400px;
}
.time_display ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.time_display h2 {
    margin: 5px;
}
.time_display h3 {
    clear: both;
    margin: 4px;
}
.time_display h3 span.bearing {
    float: left;
}
.time_display ul li {
    padding: 2px 10px;
    float: left;
    border-right: 1px solid #ddd;
    font-family: Courier, Courier new;
}
.time_display ul.lines li {
    height: 21px;
}
.time_display ul li:last-child {
    border-right: none;
}
.timeLabel {
     background-color: white;
     font-family: Courier, Courier new;
     font-size: 0.7em;
     font-weight: regular;
     text-align: center;
     width: 40px;     
     border: 2px solid #ddd;
     white-space: nowrap;
     padding: 2px 0;
     opacity: 0.8;
}
a.dir_schedule {
    margin: 5px 0;
    font-size: 16pt;
    text-decoration: none;
}
.schedule_container {
    min-width: 480px;
    min-height: 800px; /* same as the map */
}
.schedule_container div.dir_select {
    float: left;
    margin: 10px;
}
.schedule_container h2 {
    float: left;
    margin: 10px
}
.schedule_container .back_to_map {
    float: right;
    margin: 10px;
}
.schedule_container .accordion h3 {
    padding-left: 30px;
    color: #000;
    min-height: 30px;
}
.schedule_container .accordion h3 img {
    margin-right: 8px;
    float: left;
    margin-top: 5px;
    clear: left;
}
.schedule_container .accordion h3.ui-state-hover {
    background-image: none;
    background-color: #ddd;
    border-color: #999;
}
.schedule_container ul.other_lines {
    padding: 0 0 0 5px;
    margin: 0;
    list-style: none;
}
.schedule_container ul.other_lines li {
    padding: 2px 10px;
    float: left;
    border-right: 1px solid #ddd;
    height: 21px; line-height: 21px;
    width: 30px;
    font-size: 10px;
}
.schedule_container ul.other_lines li:last-child {
    border-right: none;
}
.schedule_container div.other_lines {
    border: 1px solid #ddd;
    background-color: #eee;
    margin-top: 10px; margin-bottom: 10px;
    padding-bottom: 10px;
}
.schedule_container div.other_lines h3 {
    text-align: center;
    margin: 5px 0;
}
.clear {
    clear: both;
}
table.schedule {
    border-collapse:collapse;
    margin: 5px auto;
}
table.schedule th, table.schedule td {
    vertical-align: top;
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 6px 10px 5px 5px;
    font-size: 12px;
    line-height: 1.1;
}
table.schedule td.current {
    background-color: #fee;
}
table.schedule td:last-child, table.schedule th:last-child {
    border-right: none;
}
table.schedule tr.head th {
    border-top: none;
}
table.schedule tr:nth-child(even) {
    background-color: #f8f8f8;
}
table.schedule td span.mins {
    float: left;
    text-align: right;
    width: 15px;
    margin: 0 4px 0 5px;
    font-family: Courier, Courier new;
}
div.headsign {
    background-color: white;
}


h1, h2, h3, h4 {
    font-family: Georgia, Helvetica;
    font-style: italic;
}