div.container_12 {
    width: 480px;
}
#map {
    height: 430px;
}
.content .handheld_hint {
    display: inline;
}

div.content .grid_12 {
    width: 470px;
}
div.push_2,.other_lines.push_3 {
    left: 0;
}
#stopactions {
    margin-top: 15px;
}
#back_to_map {
    display: none;
}
ul {
    list-style: disc;
    padding-left: 20px;
    margin-left: 10px;
}
ul li {
    margin: 10px 0 10px 0;
}
.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
  margin-left: 5px;
  margin-right: 5px;
}
