div.container_12 {
    width: 320px;
    min-height: 400px;
}
div.schedule_container {
    width: 320px;
    min-width: 320px;
    margin: 0;
}

#lines.force_handheld {
    visibility: visible;
}
#lines.force_handheld #handheld_startmap {
    display: block;
}
#lines.force_handheld .list ul {
    list-style: disc;
}
#lines.force_handheld .list ul li {
    float: none;
    display: block;
    width: auto;
    height: auto;
    text-align: left;
}
#line_data {
    display: block;
}
#lines.force_handheld .list ul li span {
    position: relative;
    left: auto;
}
#map {
    height: 310px;
}
.content .handheld_hint {
    display: inline;
}
table.schedule {
    max-width: 320px;
}
div.content .grid_12 {
    width: 310px;
}
.container_12 .grid_6 {
    width: 300px;
}
div.push_2,.other_lines.push_3 {
    left: 0;
}
#stopactions {
    margin-top: 15px;
}
.back_to_map {
    display: none;
}
ul {
    list-style: disc;
    padding-left: 20px;
    margin-left: 10px;
}
ul li {
    margin: 10px 0 10px 0;
}
.ui-accordion .ui-accordion-content {
  padding-left: 0;
  padding-right: 0;
  width: 320px;
  border-left: 0; border-right: 0;
}
.ui-accordion {
  width: 320px;
}
.schedule_container .accordion h3 {
  width: 290px;
  border-left: 0; border-right: 0;
}
.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
  margin-left: 5px;
  margin-right: 5px;
}
