<h2 style="float:none;width: 60%; margin: 30px auto;">Hors Service</h2>

<p style="width: 60%; margin: 30px auto; line-height: 200%">Le site est momentanément hors service, le temps que son propriétaire trouve le moyen (et le temps) d'appliquer la dernière mise à jour des horaires.</p>
