<div id="lineactions" class="grid_5">
<%= select_tag "lines", 
                content_tag(:option, "Sélectionnez une ligne...", { :value => ''}) + line_options_for_select( Line.all ),
                { 'data-line-url' => home_line_path } %>
</div>
<div class="grid_1 loader_container">
  <span id="ajax-loader" style="display: none;">
    <img src="/images/ajax-loader.gif">
  </span>
</div>
<div class="grid_3 omega push_3" id="stopactions">
    <input type="checkbox" name="find_stops" id="find_stops">
      <label for="find_stops">Parcourir les arrêts</label>
</div>
<div id="map" class="grid_12"> </div>
<%= init_javascript "$(document).ready($.Star.init);" %>