<div id="info" class="grid_5">
<%= select_tag "lines", 
                content_tag(:option, "Sélectionnez une ligne...", { :value => ''}) + line_options_for_select( Line.all ),
                { 'data-line-url' => home_line_path } %>
<span id="ajax-loader" style="display: none;">
  <img src="/images/ajax-loader.gif">
</span>
</div>
<div id="map" class="grid_12"> </div>
<%= init_javascript "$(document).ready($.Star.init);" %>