h1 {
    padding: 10px 20px;
    text-align: center;
    font-size: 20px;
    
    span {
        font-variant: small-caps;
        font-size: 20px;
        color: #390;
    }
}

#navigator {
    display: block;

    ul#line_types {
        list-style: none;
        padding: 0 10px;
        li { 
            a {
                display: block;
                padding: 20px 0;
                text-align: center;
                border: 1px outset #ddd;
                border-radius: 15px;
                margin: 10px auto;
                width: 80%;
                text-decoration: none;
                background-color: #ddd;
            }
            a:active {
                border: 1px inset #ddd;
            }
        }
    }

    div#lines {
        div.list {
            ul li {
                display: block;
                height: auto;
                width: 100%;
                text-align: left;
                height: 44px;
                a {
                    font-size: 1.2em;
                    text-decoration: none;
                }
                img {
                    float: left;
                    margin: 5px;
                }
                span {
                    display: block;
                    min-height: 25px;
                }
            }
        }
    }
    #other_actions {
        display: none;
    }
}

#line_data {
    display: block;
    background-color: white;
    h2, h3 {
        min-height: 30px;
        clear: both;
        padding-top: 5px;
    }
    h2 a:before { content: "Arrêt " }
    h3 a:before { content: "Vers " }
    li div {
        padding-left: 20px;
        margin-bottom: 10px;
        clear: both;
    }
    span {
        float: left;
        text-align: center;
        padding: 10px 15px;
    }
    span:nth-child(odd) { background-color: #ddd; }
    span:nth-child(even) { border: 1px solid #ddd; padding: 9px 14px; }
}

h1 {
    clear: both;
}

.container_12 {
    width: 100%;

    div.other_lines {
        left: auto;
        margin-left: auto;
        margin-right: auto;
        float: none;
        display: block;
    }
    .grid_6 {
        width: 50%;
    }
    .accordion h3 {
        line-height: 30px;
    }
}