
@import "fonts";

@mixin map-control {
    background-color: #fff;
    opacity: 0.85;
}
@mixin vertical-gradient {
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.75) 41%, rgba(255,255,255,0.43) 74%, rgba(255,255,255,0) 99%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(41%,rgba(255,255,255,0.75)), color-stop(74%,rgba(255,255,255,0.43)), color-stop(99%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0.75) 41%,rgba(255,255,255,0.43) 74%,rgba(255,255,255,0) 99%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0.75) 41%,rgba(255,255,255,0.43) 74%,rgba(255,255,255,0) 99%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0.75) 41%,rgba(255,255,255,0.43) 74%,rgba(255,255,255,0) 99%,rgba(255,255,255,0) 100%); /* IE10+ */
    background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0.75) 41%,rgba(255,255,255,0.43) 74%,rgba(255,255,255,0) 99%,rgba(255,255,255,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}


h1, h2, h3, h4, h5, th, #line_types li a, label {
    @include title_fonts;
}
p, li {
    @include text_fonts;
}

#line_data {
    display: none;
}

.text_widget {
    margin: 5px;
    padding: 0 6px 1px;
    font-size: 13px;
    @include title_fonts;
    border: 1px solid #717B87;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    background: white;
    &:hover {
        background: rgb(255,255,255);
        background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(230,230,230,1) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(230,230,230,1)));
        background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(230,230,230,1) 100%);
        background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(230,230,230,1) 100%);
        background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(230,230,230,1) 100%);
        background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(230,230,230,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e6e6e6',GradientType=0 );
    }
}

#incidents a {
    color: black;
    text-decoration: none;
}
.accordion.incidents p {
    line-height: 1.5;
}


#ref_date {
    cursor: pointer;

    span {
        padding:0 5px;
        display: inline-block;
        float: left;
        &:first-child {
            padding-left: 0;
            border-right: 1px solid #717B87;
        }
        input {
            border: none;
            background: transparent;
        }
        &.day input { width: 80px; }
        &.time input { width: 40px; }
    }
}

$baseBlueColor: #0073EA;
$baseActiveColor: #FF0084;

#ajax-loader {
    margin-top: 5px;
}

#map h1 {
    background-color: white;
    opacity: 0.75;
    box-shadow: 0px 3px 5px 6px #ddd;
    text-align: center;
    margin: 5px 0px;
    padding: 5px 20px;
    font-size: 18px;
    span {
        font-variant: small-caps;
        display: block;
        font-size: 20px;
        &#rennes { color: #390; }
        &#saint-lo { color: #f00; }
    }
}

#navigator {
    @include map-control;
    @include vertical-gradient;
    display: none;
    padding-bottom: 20px;
    overflow: hidden;
    #lines {
        
        float: left;
        border: none;
        background: none;
        max-width: 625px;

        #handheld_startmap {
            display: none;
        }

        ul.ui-tabs-nav {
            background-color: #fff;
            background: none;
            border-top: none;
            border-left: none;
            border-right: none;
            border-bottom-color: #666;
            padding-left: 0.5em;
            li {
                a {
                    padding: 0.2em 0.5em 0;
                }
                &.ui-state-default {
                    background-image: none;
                    background-color: darken( #fff, 4% );
                    a {
                        color: desaturate( $baseBlueColor, 60% )
                    }
                }
                &.ui-state-active {
                    border-color: #666;
                    background-color: #fff;
                    a {
                        color: $baseActiveColor;
                    }
                }
             }
        }
        
        .list {
            padding: 0.2em 0.5em 0;
            ul {
                list-style: none; 
                margin: 0;
                padding: 0;
                li {
                    float: left;
                    display: inline-block;
                    width: 29px;
                    height: 25px;
                    line-height: 20px;
                    font-size: 11px;
                    text-align: center;
                    padding-top: 4px;
                    margin-right: 3px;
                    border: 1px solid transparent;
                    &:hover {
                        border-color: #999;
                    }
                    
                    a span {
                        display: none;
                    }
                    &.as_text a {
                        text-decoration: none;
                        font-weight: bold;
                        display: inline-block;
                        width: 100%;
                        height: 100%;
                    }
                    img {
                        width: 21px;
                        height: 21px;
                    }
                    &.wide img {
                        width: 31px;
                    }
                    &.selected {
                        border-color: #500;
                    }
                    &.wide.selected {
                        width: 37px;
                    }
                }
            }
        }
    }
    #search {
        display: none;
        float: left;
        padding: 10px;
        label {
            font-weight: bold;
        }
    }

    #other_actions {
        float: right;
        text-align: right;
        margin: 5px 5px 0;
        button {
            width: 100px;
            margin: 2px;
            &.ui-button {
                width: 30px;
            }
        }
    }
}

.ui-autocomplete {
    li.ui-menu-item {
        a {
            @include title_fonts;
            white-space: nowrap;
        }
        &.line a {
            font-style: italic;
        }
    }
}

button#clock {
    width: 30px;
    padding: 5px 0 0;
    margin-left: 6px;
    span { padding: 0; }
}

#infowindow {
    @include map-control;
    padding: 5px 10px 20px 30px;
    max-width: 33%;

    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 9%, rgba(255,255,255,1) 45%, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(9%,rgba(255,255,255,0.8)), color-stop(45%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 9%,rgba(255,255,255,1) 45%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 9%,rgba(255,255,255,1) 45%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 9%,rgba(255,255,255,1) 45%,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 9%,rgba(255,255,255,1) 45%,rgba(255,255,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */

    .time_display {
        h2 {
            margin: 5px;
        }
        h3 {
            clear: both;
            margin: 4px;
            span.bearing {
                float: left;
            }
        }
        ul {
            padding: 0;
            margin: 0;
            list-style: none;
            li {
                padding: 2px 10px;
                float: left;
                border-right: 1px solid #ddd;
                @include fixed_fonts;
                a.t {
                    color: #000;
                    text-decoration: none;
                    &:hover {
                        background-color: #fee;
                        cursor: pointer;
                    }
                    &.divert {
                        border-bottom: 1px dashed #444;
                    }
                }
                a.dir_schedule {
                    margin: 5px 0;
                    font-size: 16pt;
                    text-decoration: none;
                }
            }
            li:last-child {
                border-right: none;
            }
        }
        ul.lines li {
            height: 21px;
        }
    }
}

#agency_select {
    width: 240px;
    margin-bottom: 20px;
    ul {
        list-style: none;
        padding: 0;
        width: 200px;
        li {
            display: block;
            float: left;
            width: 100%;
            border-bottom: 1px dotted #ddd;
            &:last-child { border-bottom: 1px solid white; }
            a {
                height: 30px;
                line-height: 30px;
                padding: 20px 0 20px 30px;
                border: 1px solid white;
                display: inline-block;
                width: 100%;
                @include title_fonts;
                font-size: 120%;
                color: #1412bc;
                letter-spacing: 5px;
                text-decoration: none;
                &:hover { background-color: #EEFCFF; border: 1px solid #ddd; }
            }
        }
    }
}

#feedinfo {
    /*font-family: Arial,sans-serif;*/
    @include title_fonts;
    font-size: 10px;
    color: #444;
    height: 19px;
    line-height: 19px;
    a { color: inherit; }

    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0pt, rgba(255,255,255,0.5) 50px);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0pt,rgba(255,255,255,0)), color-stop(50px,rgba(255,255,255,0.5)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0pt,rgba(255,255,255,0.5) 50px);
    background: -o-linear-gradient(top, rgba(255,255,255,0) 0pt,rgba(255,255,255,0.5) 50px);
    background: -ms-linear-gradient(top, rgba(255,255,255,0) 0pt,rgba(255,255,255,0.5) 50px);
    background: linear-gradient(top, rgba(255,255,255,0) 0pt,rgba(255,255,255,0.5) 50px);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#80ffffff',GradientType=0 );

}


html, html body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #ddd;
}

#map {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

@mixin displayed-text {
    @include text_fonts;
    font-size: 14px;
 }

#help {
    h2 {
        margin: 15px 0;
    }
    p {
        margin: 10px 25px;
        line-height: 1.4;
        @include displayed-text;
    }
    dl {
        width: 100%;
        dt, dd {
            float: left;
            height: 80px;
            display: block;
            margin: 0;
        }
        dt {
            width: 15%;
            text-align: center;
        }
        dd {
            width: 85%;
            @include displayed-text;
        }
    }
}

#about {
    p {
        @include displayed-text;
        a {
            color: #000;
        }
        line-height: 1.4;
    }
    width: 300px;
    height: 200px;
}

.clear {
    clear: both;
}

.timeLabel {
    @include fixed_fonts;
    background-color: white;
    font-size: 0.7em;
    font-weight: regular;
    text-align: center;
    width: 40px;
    border: 2px solid #ddd;
    white-space: nowrap;
    padding: 2px 0;
    opacity: 0.8;
}


div.time-picker li {
    @include title_fonts;
}