<span class='time'>
  <input type="text" name="refdate_time" value="{{hours}}:{{mins}}" readonly="readonly"></span>
<span class='day'>
    <input type="text" name="refdate_date" value="Aujourd'hui" readonly="readonly"></span>
